<div class="top">

  <div class="side-ber">
     <div class="side-ber-header">
         <div class="user-name1">
         <%= link_to "一覧に戻る",  root_path %>
         </div>
      </div>
     <div class="user-header-center">
   <div class="users">
      <div class="user1">
        <% @monthl.each do |hiduke| %>
        <%= hiduke.hiduke %><br>
        <%= "今日のお給料は#{hiduke.time * hiduke.hourlywage}円です"%>
        <% end %>
        <%# <a href="#">1日の給料 4050円</a> %>
        
      </div>
      
      <%# <div class="user2">
        <a href="#">2日の給料 4050円</a>
      </div> %>
         
      </div>
      </div>
      <div class="side-be-under">
       </div>


  </div>






   <div class="main-ber">

     <div clas="main-ber-header">
      <div class="title">
       <h1 class="midasi">¥ 11月の時給計算 ¥</h1>
      </div>
    </div>
     
     <div class="main-ber-cnter">
      <div class="okyuryous">
     <div class="tourokus">
         <div class="touroku">
          <%= link_to "・登録画面・",  new_monthl_path %>
          </div>
     </div>
     <div class="ruikei">
     <div class="taimes"> 
      <%# <% @monthl.each do |hiduke| %>
        <%# <%= hiduke.time += hiduke.time%>
        <%# <% end %>  
        <%="今月の作業時間は#{Monthl.all.sum(:time)}時間です"%>
       
       <%# 今月の累計時間 66時間 %>

     </div>
     <div class="moneys">
       <%array = []%> 
        <%Monthl.all.each do |monthl|%>
         <%array << monthl.time * monthl.hourlywage%> 
         <%end%>
          <%="今月のお給料は#{array.sum}円です"%>

            
          

         
        <%# <%=array.sum%> 
    </div>
    </div>
   
    </div>
   </div>

   </div>
    
    <div class="main-ber-under">
    </div>

</div>